<!--The content below is only a placeholder and can be replaced.-->
<ul>
  <li><a routerLink="">Home</a></li>
  <li><a routerLink="about">About</a></li>
</ul>
<app-home></app-home>
using System;
using System.Collections.Generic;
using System.Linq;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Builder;
using Microsoft.AspNetCore.Hosting;
using Microsoft.Extensions.Configuration;
using Microsoft.Extensions.DependencyInjection;
using RazorPagesMovie2.Models;
using Microsoft.EntityFrameworkCore;


namespace RazorPagesMovie2
{
    public class Startup
    {
        public Startup(IConfiguration configuration)
        {
            Configuration = configuration;
        }

        public IConfiguration Configuration { get; }

        // This method gets called by the runtime. Use this method to add services to the container.
        public void ConfigureServices(IServiceCollection services)
        {
            services.AddDbContext<MovieContext>
  (options =>
  options.UseSqlServer(Configuration.GetConnectionString("MovieContext")));
  services.AddMvc();
  }

  // This method gets called by the runtime. Use this method to configure the HTTP request pipeline.
  public void Configure(IApplicationBuilder app, IHostingEnvironment env)
  {
  if (env.IsDevelopment())
  {
  app.UseBrowserLink();
  app.UseDeveloperExceptionPage();
  }
  else
  {
  app.UseExceptionHandler("/Error");
  }

  app.UseStaticFiles();

  app.UseMvc();
  }
  }
  }
  <router-outlet></router-outlet>
